* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


body {
	background-color: #b9bbbc;
	font-family: 'Lato', sans-serif;

}

h1 {
	font-size:6vw;
}

h2 {
	font-size:5vw;
}

#navigation {
	width: 100%;
	/*text-align: center;*/
	font-size: 2vw;
	/*font-weight: bold;*/
	background-color: #1e4058;
	opacity: 75%;
}

#home{
	margin: 0px;
	padding: 0px;
	padding-bottom: 30vh;
	left: 0px;
	top: 0px;
	display: inline-block;
	overflow: hidden;
}

#inner {
	margin-top: 30%;
	width: 100%;
	resize: vertical;
	float: left;
}

#home-text {
	color: rgb(40,41,35);
	font-weight: bolder;
	-webkit-text-stroke: .7px black;
	text-shadow: -3px 5px 0 rgba(0, 0, 0, 0.4);

}

#photo-landing {
	width:100vw;
}

#text-all {
	color: rgb(40,41,35);
	font-weight: bold;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#text-skill-header {
	color: rgb(40,41,35);
	font-weight: bold;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	border-bottom: 1.5px solid #1e4058;
}

#text-all-reverse {
	color: #f2f2f2;
	font-weight: bold;
	-webkit-text-stroke-width: .3px;
	-webkit-text-stroke-color: black;
	/*border-bottom: 1.5px solid #f2f2f2;*/
}

#text-skill-header-reverse {
	color: #f2f2f2;
	font-weight: bold;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
	border-bottom: 1.5px solid #f2f2f2;
}

#about {
	margin-top:30vh;
	padding-top: 10vh;
}

#skills {
	padding-top: 10vh;
}

.skill-img {
	max-height: 60px;
	max-width: 60px;
}

#download-resume a{
	width: 40%;
	height: 50px;
	cursor: pointer;
	color: white; 
	text-underline-position: none;
}

#connect {
	padding-top: 10vh;
}

.media {
	display: block;
	color: #1e4058;
}

.media a {
	display: block;
	color: #1e4058;
}

#profile-pic {
	border: 10px solid #f2f2f2;
	outline: 3px solid #1e4058;
	box-shadow:  -8px 8px 0 rgba(0, 0, 0, 0.4);

	/*border: 10px solid #1e4058;*/
	width: 100%;
	height: 100%;
}

.carousel {
	border: 10px solid #f2f2f2;
	background-color: #1e4058;
	box-shadow:  -8px 8px 0 rgba(0, 0, 0, 0.4);
	/*transform: rotate(-2deg);*/

}
.carousel-indicators > li {
	border-radius: 12px;
	width: 12px;
	height: 12px;
}

.carousel-item {
	border: 10px solid #f2f2f2;
	outline: 3px solid #1e4058;
	box-shadow:  -8px 8px 0 rgba(0, 0, 0, 0.4);
	transform: rotate(-2deg);

}


#dummy-row {
	margin-top:20vh;
	padding-top: 10vh;
}

ul {
	list-style-type: none;
}

#tech-stack {
	display: flex;
	text-align: center;
}

.border-skill
{
	border: 2.5px solid #1e4058;
/*	margin-left: 5%;
	margin-right: 3%;
	margin-top: 4%*/
	/*border-radius: 5%;*/
	height: 250px;

}

#white-bg {
	background-color: #f2f2f2;
}

#blue-bg {
	background-color: #1e4058;
}
.landing-text {
	text-shadow: 0px 0 5px rgba(0, 0, 0, 0.4);
	/*font-weight: bolder;*/
}
#connect-right {
	 background-color: #1e4058;
}
#connect-left {
	 background-color: #f2f2f2;
	  color: #34342c;
}

/* input text */
input[type=text], input[type=email], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: center;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container {
	border-radius: 5px;
	/*background-color: #f2f2f2;*/
	padding: 20px;
}

.col-100 {
	float: left;
	width: 100%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.col-100, input[type=submit], input[type=email], textarea{
		width: 100%;
		margin-top: 1px;
	}
	#home {
		padding-bottom: 10px;
	}
	#about {
		margin-top: 10px;
		padding-top: 5vh;
	}
	#inner {
		margin-top: 10%;
	}
	#home-text {
		color: rgb(40,41,35);
		font-weight: bolder;
		-webkit-text-stroke: .7px black;
		text-shadow: -1px 2px 0 rgba(0, 0, 0, 0.4);
	}

	#photo-landing {
		width:92vw;
	}

	.navbar-brand {
		margin-left: 10%;
	}

}  

/* HOVER */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	/*background: #2098D1;*/
	background: lightgray;
	height: 4px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}

/* Glow */
.hvr-glow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.hvr-float {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
